<footer>
    
        <img class="wlogo" alt="Creepy Critters" src="/assets/CC white.png" />
        <a href=""> 
            <p> About Us </p> </a>
        <a href=""> 
            <p> Other Resources </p> </a>
        <a href=""> 
            <p> Learn More </p> </a>
   
</footer>