<footer>

    <img class="wlogo" alt="Creepy Critters" src="/assets/CC white.png" />

    <div>
        <a href="">
            About Us </a>
        <a href="">
            Other Resources </a>
        <a href="">
            Learn More </a>
    </div>

</footer>