<footer>

    <img class="wlogo" alt="Creepy Critters" src="/assets/CC white.png" />

    <div>
        <a href="/about" id="footlink">
            About Us </a>
        <a href="/about" id="footlink">
            Other Resources </a>
        <a href="/about" id="footlink">
            Learn More </a>
    </div>

</footer>