/* you can put styles in here :) */
html, body {
    max-width: 100vw;
    overflow-x: hidden;
}


.home main {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#FAECC9

}


body {
    background: #FDF7EE;
    margin: 0;
}

h1 {
    color: #000;
    font-family: "Jua";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    
}
nav {
    line-height:.5;
    color:#000
}

.home p {
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 50px;
    margin: 0;
}

.top h1 {
    text-align: center;
}

h2 {
    color: #000;
    font-family: "Jua";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

img {
    max-width: 500px;
}

.logo {
    max-width: 100px;
    float:left;
    padding: 10px
    
}

.jspider {
    display:flex;
    flex-direction: column;
    margin:auto;
    padding-top: 50px;
    background-color: #FDF7EE;
    width: 100%;
}

.links {
    text-align: right;
    font-size: 30px;
    font-family: "Jua";
    color: #000;
}
:any-link {
    text-align: right;
    font-size: 30px;
    font-family: "Jua";
    color: #FFF;
}

body {
    color: #000;
    font-family: Kreon;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Kreon;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;

}

footer {
    background: #706464;

    color: #FFF;
    font-family: Kreon;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;

}
header {
    background: #E4DDCB;
    height: 265px;
    flex-shrink: 0;
    vertical-align: top;
    padding-top: 15px;
}
 header h1 {
    margin: 0;
    line-height: 1;
 }


.top {
    background:#FAECC9;
}
.icons {
    background:#FDDAAF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
    
    
    
}

.icons a img {
    width: 100%;
    max-width: 300px ;
}

.wlogo {
    max-width: 150px;
    padding: 25px;
    float:left;
}

        /* mouse over link */
    a:hover {
    color: hotpink;
}

footer div {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width:1080px) {
    h1 {
        font-size: 60px;
    }

}

.button a {
    color: #000;
}