<!DOCTYPE html>
<html lang="en">
<meta name="description" content="An educational site about misunderstood creepy critters like spiders and snakes.">
    <meta name="author" content="Samantha R Cooper">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
  {% include 'head', title:'About' %}
  <body>
    {% include 'header' %}
    <main class="about" id="index">

    <h1>
      About Us
    </h1>

    <p>
      Hello there! This page is dedicated to learning some more about creepy critters. We aren't a comprehensive website, but we are a jumping off point for learning more! This website was created by someone who just really loves creepy creatures and thinks that maybe everyone shouldn't be so quick to judge them. Below are some more resources to keep learning, and all sources used on this websites pages.
    </p>
    <img src="/assets/salm1.png" alt="silly salamander photograph">


        <div class="resources">
    <h1>
      Where to Next?
    </h1>
    <p>
    <em> Here's some more places to learn! </em>
    </p>
    
        <a href="https://bugguide.net/node/view/15740" target=”_blank” > Bug Guide </a>
        <a href="https://entomologytoday.org/about/" target=”_blank” > Entomology Today </a> 
        <a href="https://www.nationalgeographic.com/" target=”_blank” > National Geographic </a>
        </div>
 

      <div class="sources">
    <h1>
      Sources
    </h1>
    
      <a href="https://www.fs.usda.gov/Internet/FSE_DOCUMENTS/fseprd1057184.pdf" target=”_blank” > Jumping Spider info (USDA) </a>
      <a href="https://www.nps.gov/articles/000/jumping-spider.htm" target=”_blank” > Jumping Spider info (National Park Service)</a>
      <a href="https://www.flickr.com/photos/doundounba/17385204381/" target=”_blank” > Paul Gaudette Image </a>
      <a href="https://fineartamerica.com/featured/1-regal-jumping-spider-jumping-scott-linstead.html?newartwork=true" target=”_blank” > Scott Linstead Image </a>
      <a href="https://en.wikipedia.org/wiki/Jumping_spider" target=”_blank” > Jumping Spider Wiki </a>
      <br>
      <a href="https://bygl.osu.edu/node/1686" target=”_blank” > Yellow Garden Spider info (BYGL) </a>
      <a href="https://entnemdept.ufl.edu/creatures/MISC/SPIDERS/yellow-garden-spider.html" target=”_blank” > Yellow Garden Spider info (Featured Creatures) </a>
      <a href="https://www.shutterstock.com/image-photo/female-black-yellow-garden-spider-sitting-279216572" target=”_blank” > Shutterstock Yellow Garden Spider Image </a>
      <a href="https://en.wikipedia.org/wiki/Argiope_aurantia" target=”_blank” > Yellow Garden Spider Wiki </a>
      <br>
      <a href="https://www.uky.edu/Ag/CritterFiles/casefile/spiders/crab/crab.htm#:~:text=Many%20crab%20spiders%20live%20for,offspring%20hatch%20in%20the%20spring." target="_blank"> Crab Spider info (University of Kentucky)</a>
      <a href="https://www.istockphoto.com/photo/misum%C3%A8ne-gm1421853771-467350580" target="_blank"> iStock Crab Spider Image </a>
      <a href="https://sciencephotogallery.com/featured/crab-spider-feeding-dr-jeremy-burgess.html" target="_blank"> Jeremy Burgess Image</a>
      <a href="https://en.wikipedia.org/wiki/Thomisidae" target="_blank"> Crab Spider Wiki</a>
      <br>
      <a href="https://www.scientificamerican.com/article/cannibalistic-dads-may-be-contributing-to-hellbender-salamander-declines/" target="_blank"> Cannibal Hellbenders + Pete Oxford Image </a>
      <a href="https://research.fiu.edu/documents/iacuc/animalCareDocuments/guidelinesAmphibiansReptilesLab.pdf" target="_blank"> Amphibean Handling info </a>
      <a href="https://en.wikipedia.org/wiki/Hellbender" target="_blank"> Hellbender Wiki </a>
      <br>
      <a href="https://herpsofnc.org/red-spotted-newt/" target="_blank"> Kevin Stohlgren Image </a>
      <a href="https://en.wikipedia.org/wiki/Eastern_newt" target="_blank"> Red-Spotted Newt Wiki </a>
      <a href="https://dec.ny.gov/nature/animals-fish-plants/amphibians-reptiles/eastern-red-spotted-newt" target="_blank"> Red-Spotted Newt Info (NY Department of Enviornmental Conservation)</a>
      <a href="https://sdzwildlifeexplorers.org/animals/salamander-and-newt" target="_blank"> Salamander VS Newt Info </a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Mole_salamander" target="_blank"> Mole Salamander Wiki </a>
      <a href="https://herpsofnc.org/spotted-salamander/" target="_blank"> Spotted Salamander Info </a>
      <a href="https://en.wikipedia.org/wiki/Spotted_salamander" target="_blank"> Spotted Salamander Wiki </a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Garter_snake" target="_blank"> Garter Snake Wiki </a>
      <a href="https://dnr.illinois.gov/education/wildaboutpages/wildaboutsnakes/wasnfamilynatricidae/wasnplainsgartersnake.html" target="_blank"> Garter Snake Info + Drew R. Davis Image </a>
      <br>
      <a href="https://en.wikipedia.org/wiki/Milk_snake" target="_blank"> Milk Snake Wiki </a>
      <a href="https://www.iowaherps.com/species/lampropeltis_triangulum" target="_blank"> Milk Snake Info + Image </a>
      <br>
      <a href="" target="_blank">  </a>
      <br>
      <a href="https://www.theguardian.com/technology/2018/nov/25/five-animals-that-can-regenerate-salamander-starfish" target=”_blank” > Silly Salamander Image </a>
    </div>
      <br>
      <br>
    <p>
    <em> This website is a college project </em>
    </p>
     
    </main>
    {% include 'footer' %}
  </body>
</html>
