<!DOCTYPE html>
<html lang="en">
<meta name="description" content="An educational site about misunderstood creepy critters like spiders and snakes.">
    <meta name="author" content="Samantha R Cooper">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
  {% include 'head', title:'Creepy Critters Homepage' %}
  <body class="about">
    {% include 'header' %}
    <main id="main-content">

    <h1>
      About Us
    </h1>

    <p>
      Hello there! This page is dedicated to learning some more about creepy critters. We aren't a comprehensive website, but we are a jumping off point for learning more! This website was created by someone who just really loves creepy creatures and thinks that maybe everyone shouldn't be so quick to judge them. Below are some more resources to keep learning, and all sources used on this websites pages.
    </p>
    <em> This website is a college project </em>
      
      
     
    </main>
    {% include 'footer' %}
  </body>
</html>
