<!DOCTYPE html>
<html lang="en">
<meta name="description" content="An educational site about misunderstood creepy critters like spiders and snakes.">
    <meta name="author" content="Samantha R Cooper">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
  {% include 'head', title:'About' %}
  <body>
    {% include 'header' %}
    <main class="about" id="main-content">

    <h1>
      About Us
    </h1>

    <p>
      Hello there! This page is dedicated to learning some more about creepy critters. We aren't a comprehensive website, but we are a jumping off point for learning more! This website was created by someone who just really loves creepy creatures and thinks that maybe everyone shouldn't be so quick to judge them. Below are some more resources to keep learning, and all sources used on this websites pages.
    </p>
    <img src="/assets/salm1.png" alt="silly salamander photograph">
    Getty Images
    <p>
    <em> This website is a college project </em>
    </p>

    <h1>
      Where to Next?
    </h1>
    <p>
    <em> Here's some more places to learn! </em>
    </p>
      <div class="resources">
        <a href="https://bugguide.net/node/view/15740" target=”_blank” > Bug Guide </a>
        <a href="https://entomologytoday.org/about/" target=”_blank” > Entomology Today </a> 
        <a href="https://www.nationalgeographic.com/" target=”_blank” > National Geographic </a>
      </div>
 
    <h1>
      Sources
    </h1>
      
    <div class="sources">
      <a href="https://www.fs.usda.gov/Internet/FSE_DOCUMENTS/fseprd1057184.pdf" target=”_blank” > Jumping Spider info (USDA) </a>
      <a href="https://www.nps.gov/articles/000/jumping-spider.htm" target=”_blank” > Jumping Spider info (National Park Service)</a>
      <a href="https://www.flickr.com/photos/doundounba/17385204381/" target=”_blank” > Paul Gaudette Image </a>
      <a href="https://fineartamerica.com/featured/1-regal-jumping-spider-jumping-scott-linstead.html?newartwork=true" target=”_blank” > Scott Linstead Image </a>
      <a href="https://en.wikipedia.org/wiki/Jumping_spider" target=”_blank” > Jumping Spider Wiki </a>
      <a href="https://bygl.osu.edu/node/1686" target=”_blank” > Yellow Garden Spider info (BYGL) </a>
      <a href="https://entnemdept.ufl.edu/creatures/MISC/SPIDERS/yellow-garden-spider.html" target=”_blank” > Yellow Garden Spider info (Featured Creatures) </a>
      <a href="https://www.shutterstock.com/image-photo/female-black-yellow-garden-spider-sitting-279216572" target=”_blank” > Shutterstock Yellow Garden Spider Image </a>
      <a href="https://en.wikipedia.org/wiki/Argiope_aurantia" target=”_blank” > Yellow Garden Spider Wiki </a>
      <a href="https://www.theguardian.com/technology/2018/nov/25/five-animals-that-can-regenerate-salamander-starfish" target=”_blank” > Silly Salamander Image </a>
    </div>
      
     
    </main>
    {% include 'footer' %}
  </body>
</html>
