<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
    {% include 'head', title:'Snakes' %}
  <body>
    {% include 'header' %}
    <main class="snakes"id="main-content">
      <h1>Page 2 of my website</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam.
      </p>
    </main>
    {% include 'footer' %}
  </body>
</html>
