<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
    {% include 'head', title:'Snakes' %}
  <body>
    {% include 'header' %}
    <main class="snakes" id="main">
     
     <img class="center" src="/assets/snek.gif" alt="Short gif of a snake sticking out its tongue" loop>

      <h1>
      Snakes
      </h1>
  
        <h3> 
        <em> "We're pest control!" </em>
        </h3>

        <p>
          words
        </p>

        <nav class="page-nav" aria-label="page nav"> 
        <a href="-"> Garter Snakes </a>
        <a href="-"> Milk Snakes </a>
        <a href="-"> Copper Heads </a>
        <a href="#extras"> Extras! </a>
        </nav>


<div id="extras" class="center">
        <h1> 
          Extras!
        </h1>

        <h1>
          User Submissions
        </h1>
        </div>

        <img alt="Image of a common milk snake in a mason jar" src="/assets/kmw.png" />
        Kristen, 2021
        <p> 
        This is a juvenile milk snake found Upstate NY. This little guy was wandering in an area of the yard with heavy foot traffic, so our story submitter picked him up in a jar to move him. He was young so he hadn’t learned which places were and weren’t safe yet! Our submitter placed him in a mason jar as to not stress the little guy out too much by handling him. She took a few pictures to admire later before releasing him to a quieter, safer part of the yard.
        </p>
        <p>
          Story from Kristen, 2021
        </p>

        <br>
         <p> <strong> This is in no way a comprehensive list but just a way to get our visitors interested in these creepy critters! </strong> </p>
          



    </main>
    {% include 'footer' %}
  </body>
</html>
