<!DOCTYPE html>
<html lang="en">
  <meta name="description" content="An educational site about misunderstood creepy critters like spiders and snakes.">
    <meta name="author" content="Samantha R Cooper">
    <meta property="og:image" content="/assets/screenshot.png" />
<link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
    {% include 'head', title:'Snakes' %}
  <body>
    {% include 'header' %}
    <main class="snakes" id="main">
     
     <img class="center" src="/assets/snek.gif" alt="Short gif of a snake sticking out its tongue" loop>

      <h1>
      Snakes
      </h1>
  
        <h3> 
        <em> "We're pest control!" </em>
        </h3>

        <p>
          Snakes might be scary or spooky, but they’re actually very helpful! Without snakes, rats, mice, and other rodents would run wild and spread disease without any barriers. It is important to keep in mind that no animal is really a pest and everyone is just doing their part in a larger ecosystem! Snakes are widespread throughout the world and some of them even live in water. Many species are dangerous but many of them are not. If you encounter a snake, attempt to identify them before you interact! Snakes will bite even if they aren’t venomous as a defense mechanism. A good rule of thumb is to simply leave these guys where they are! If you find one inside your house, please call a professional or act with extreme caution. 
        </p>
        <p> 
        <strong> (Please be weary with any snakes you know to be dangerous. Below there is a list of snakes that are actually dangerous.) </strong>
        </p>

        <nav class="page-nav" aria-label="page nav"> 
        <a href="#garter"> Garter Snakes </a>
        <a href="#milk"> Milk Snakes </a>
        <a href="#copper"> Copperheads </a>
        <a href="#extras"> Extras! </a>
        </nav>

        <div id="garter" class="center">
        <h1> 
          Garter Snakes
        </h1>
      </div>
        <h3>
          (Thamnophis)
        </h3>
      <img src="/assets/garter1.png" alt="Image of a garter snake on a rock." />
      Drew R. Davis

      <div class="info">
        <strong> Lifespan: </strong> 4-10 years (wild) 10-20 (captivity)
        <strong> Size: </strong> 18 to 51 in (46 to 130 cm)
        <strong> Range: </strong> North and Central America
        <strong> Nocturnal or Diurnal: </strong> Diurnal, active during the day
        <strong> Stigma: </strong>  Slimy garden pests!
        <strong> Reality: </strong> Scaly garden helpers!
      </div>
     <br>
     <br>
     <p>
      Garter snakes are one of the most common snakes in America. Not only that, they are part of a fairly large family whose species and subspecies are debated by many researches. These snakes aren’t very aggressive towards humans and can co-exist fairly easily. They enjoy eating anything from bugs, worms, voles, rodents, and even some aquatic creatures. Their diet lends them to enjoying man-made gardens. They cannot really hurt humans, they don’t have any venom and their mouths are rather small. That being said, don’t bother the poor guys enough to try to bite you!
     </p>
     <p>
      Garter snakes can be most easily identified by the stripe(s) down their body. They are typically dark brown with yellow or white stripes. They can have either one or two stripes depending on their species. They also usually have pale bellies. 
     </p>
     <br>
     <img src="/assets/garter2.png" alt="An image of a smaller garter snake" />
     Wikipedia
     <br>
     <p>
      The name “garter snake” comes from their stripes being similar to garters, a piece of clothing worn by men or women to keep their socks up. Since the invention of elastic, garters are much less common. 
     </p>
     <p>
      It was found by researchers that some species of garter snakes are not solitary, as previously believed. Some of them will actually live in groups, commonly of about 3 or 4 snakes but have been observed in groups as large as 46 snakes. 
     </p>
     <p>
      Garter snakes enjoy spending their time basking in the sun on flat rocks. When they’re not hunting or basking, they’ll hide under rocks, logs or foliage. Garter snakes do not lay eggs, instead they give live birth, which is more common than one might guess in the snake world! 
     </p>



     <div id="milk" class="center">
        <h1> 
          Milk Snakes
        </h1>
      </div>
        <h3>
          (Lampropeltis triangulum)
        </h3>
      <img src="/assets/milk1.png" alt="Image of a milk snake on a granite slab." />
      Reptiles and Amphibians of Iowa

      <div class="info">
        <strong> Lifespan: </strong> 3-12 (wild) 15-20 (captivity)
        <strong> Size: </strong> 36-183 cm (14-72 inches) Vary greatly depending on species
        <strong> Range: </strong> Central America down to Colombia and Ecuador
        <strong> Nocturnal or Diurnal: </strong> Nocturnal, active during the night
        <strong> Stigma: </strong> Scary, venomous snakes!
        <strong> Reality: </strong> Fairly friendly mimics!
      </div>
     <br>
     <br>
     <p>
      Milk snakes are a common type of snake that consists of 24 subspecies. These subspecies differ greatly in habitat, coloration, and size. Tropical subspecies tend to, on average, grow larger than temperate subspecies. Males and females tend to have similar size ranges. 
     </p>
     <p>
      Their typical color pattern is alternating bands of red-black-yellow or white-black-red. However, red blotches instead of bands are seen in some populations. Some milk snakes have even evolved to mimic coral snakes! Coral snakes are very venomous and dangerous, while milk snakes are not. But their bright coloration will dissuade predators from messing with them. Mimicry is a  clever and useful tactic!
     </p>
     <br>
     <img src="/assets/milk2.png" alt="A diagram depicting the difference between coral snakes(right) and milk snakes(left)" />
     Seth Patterson
     <br>
     <p>
      Milk snakes commonly enjoy making their homes in forests and open woodland, although they can be found many places. Some subspecies will migrate from warmer, wetter areas to cooler, drier areas to hibernate. Milk snakes tend to be pretty docile, they will usually try to run instead of attack first. These critters are known as “opportunistic eaters” which means they will eat almost anything they can find. Be that grubs, worms, bugs, small rodents, other snakes, lizards, or even birds and eggs! 
     </p>
     <p>
      The name “milk snake” is said to come from farmers who often found these snakes living in their barns. They guessed that the snakes were there to drink from the cows! (It’s much more likely they were just there for the rodents that also lived in the barn.) 
     </p>
     <p>
      Their gentle nature and eating habits make them popular pets. Although if you’re in the market for a friend, please buy from a breeder and do not disturb wild snakes!
     </p>




     <div id="copper" class="center">
      <h1> 
        Copperheads
      </h1>
    </div>
      <h3>
        (Agkistrodon contortrix)
      </h3>
    <img src="/assets/copper1.png" alt="Image of a copperhead in some leaves." />
    David Kenny/Getty Images Plus

    <div class="info">
      <strong> Lifespan: </strong> 18 (wild) 20 (captivity)
      <strong> Size: </strong>  50 to 95 cm (20–37 in)
      <strong> Range: </strong> Eastern North America
      <strong> Nocturnal or Diurnal: </strong> Nocturnal, active during the night (Summer)
      <strong> Stigma: </strong> Very dangerous, aggressive snakes!
      <strong> Reality: </strong> Venomous snakes, who really just aren't big fans of humans.
    </div>
   <br>
   <br>
   <p>
    Copperheads are a venomous type of snake that occupy about half of U.S. states, classified as a pit viper. What makes a snake a pit viper is: being venomous and having a heat-sensing pit organ located between the eye and the nostril on both sides of the head. The eastern copperhead has distinctive, dark brown, hourglass-shaped markings, on top of a light reddish brown or brown/gray body. Their body type is heavy, rather than slender like other snakes. 
   </p>
   <p>
    Copperheads enjoy occupying forests, woodlands, or even craggy rocks. They tend to hibernate in dens or cracks in rocks. These snakes, similar to other pit vipers, are ambush predators. They will use their superior camouflage to hide and strike when their prey gets close. As opposed to other vipers, copperheads tend to “freeze” as a defense mechanism. They will rely on their camouflage first before they attack. This method had caused many accidental incidents in which these poor critters are stepped on. So be careful where you step! Copperheads will also often rattle their tail to tell you to back off so if you hear that- don’t go any closer! If you do happen to be bitten by a copperhead, seek medical attention. Copperhead bites account for half of the treated snake bites in the United States.
   </p>
   <br>
     <img src="/assets/copper2.png" alt="A photo of a copperhead camoflaging themselves in some leafs" />
     WCWR
     <br>
    <p>
      Uniquely, these snakes alter their sleep schedule depending on the season. During the hot summer months, they’ll become nocturnal to escape the daytime heat. While in the other, colder months, they will have a diurnal cycle instead to be warmer during the day. 
    </p>
    <p>
      Copperheads will eat many creatures humans consider pests, such as rodents or other critters that may cause harm to house and home. They eat invertebrates as well, such as bugs or worms. Juveniles eat more invertebrates while adults eat more vertebrates, although that’s simply because vertebrates tend to be larger.
    </p>
    <p>
      Please do not engage with any copperhead snakes! They are dangerous and although beautiful, should not be disturbed. If you encounter one, give it space and back off. They’re often times just spooked by such a big creature. 
    </p>



<div id="extras" class="center">
        <h1> 
          Extras!
        </h1>

        <h3>
          9 of the Most Dangerous Snakes (do not go near!!)
        </h3>
        <br>
        <div class=center>
        <a href="https://www.britannica.com/list/9-of-the-worlds-deadliest-snakes"> 
        <img alt="Image of a Brittanica Webpage for 9 of the World's Deadliest Snakes" src="/assets/danger2.png" /></a>
        <br>
        Britannica, John P. Rafferty
        </div>

        <h1>
          User Submissions
        </h1>
        </div>

        <img alt="Image of a common milk snake in a mason jar" src="/assets/kmw.png" />
        Kristen, 2021
        <p> 
        This is a juvenile milk snake found Upstate NY. This little guy was wandering in an area of the yard with heavy foot traffic, so our story submitter picked him up in a jar to move him. He was young so he hadn’t learned which places were and weren’t safe yet! Our submitter placed him in a mason jar as to not stress the little guy out too much by handling him. She took a few pictures to admire later before releasing him to a quieter, safer part of the yard.
        </p>
        <p>
          Story from Kristen, 2021
        </p>

        <br>
         <p> <strong> This is in no way a comprehensive list but just a way to get our visitors interested in these creepy critters! </strong> </p>
          



    </main>
    {% include 'footer' %}
  </body>
</html>
