<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
  {% include 'head', title:'Spiders' %}
  <body>
    {% include 'header' %}
    <main class="spiders" id="main">
      
    <img class="center" src="/assets/spiderhi.gif" alt="Short gif of a jumping spider waving" loop />

    <h1>
    Spiders
    </h1>

      <h3 id="nav"> 
      <em> "We help out!" </em>
      </h3>

    <p>
    Spiders may be small but their contribution to the ecosystem is grand. Without spiders many small insects would grow in immeasurable numbers. Imagine how many flies there might be buzzing around! And without these little predators, birds would lose a food source and many birds we love and treasure could decrease greatly in number without spiders. These little guys are great housemates too! Spiders in the corners of rooms keep moths and other small bugs out of your way. But if you don't enjoy such a creepy critter in your own home, please put them outside (carefully). If you don't bother them, they won't bother you.
    </p>

    <p> 
    <strong> (Please be weary with any spiders you know to be dangerous. Below there is a list of spiders that are actually dangerous.) </strong>
    </p>

    <nav class="page-nav" aria-label="page nav"> 
      <a href="#jumping"> Jumping Spiders </a>
      <a href="#argiope"> Yellow Garden Spiders </a>
      <a href="#crab"> Crab Spiders </a>
      <a href="#extras"> Extras! </a>
    </nav>
  

   

      <div id="jumping" class="center">
        <h1> 
          Jumping Spiders
        </h1>
      </div>
        <h3>
          (Salticidae family)
        </h3>
      <img src="/assets/jumpingg2.png" alt="Image of a common jumping spider close to the camera" />
      Paul Gaudette, 2015

      <div class="info">
        <strong> Lifespan: </strong> 1-2 years 
        <strong> Size: </strong> 1 to 25 mm (0.04–0.98 in) 
        <strong> Range: </strong> Global
        <strong> Nocturnal or Diurnal: </strong> Diurnal, active during the day
        <strong> Stigma: </strong> They are aggressive or violent and want to bite you
        <strong> Reality: </strong> They are actually very friendly and curious. They won't bite unless bothered a lot.
      </div>
     <br>
     <br>

      <p>
        Jumping spiders are part of one of the largest families of spiders, with over 5,000 documented species! These little guys often have some iridescent fur on their bodies. They are quite active hunters who grasp prey with their long front legs. 
      </p>
      <br>
      <p>
        They do not actually spin webs like other spiders. Instead they used anchor lines to descend or swing from place to place. It’s quite impressive for such little creatures! They have been observed to build small silk tents for their eggs or themselves. Be it for over-wintering, molting, or just hiding out for awhile.
      </p>

      <br>
      <img src="/assets/jumpingg.png" alt="an image of a jumping spider jumping with a guideline" />
      Scott Linstead
      <br>
      
      <p>
        Despite their small size they are territorial and do not like other spiders being around. They can bite although they have to be really pestered by humans to do so. Be gentle with our little friends! There’s no need to get too up in their business. Most spiders prefer to be left alone, although jumping spiders are one of the friendlier species. Some people even keep them as pets! However, we do not advise capturing wild animals. If you’re wondering about spider-keeping there are plenty of great resources out there! 
      </p>
      <br>
      <p>
        These little guys have 8 big eyes in sets of two, the biggest and front-most pair do most of the observing while the other 6 help keep them aware of their surroundings. They have nearly 360 degree vision. 
      In fact, they can actually recognize human faces! Their little genius brains are quite the mystery to many scientists and entomologists. 
      </p>

     

    <!-- BREAK!!! NEXT INFO PAGE STARTS HERE -->

     <div id="argiope" class="center">
        <h1> 
          Yellow Garden Spiders
        </h1>
      </div>
        <h3>
          (Argiope aurantia)
        </h3>
        <img src="/assets/orbweaver.png" alt="Image of a Yellow Garden Spider on a web"/>
        Shutterstock

        <div class="info">
          <strong> Lifespan: </strong> 1-2 years 
          <strong> Size: </strong> Males 5–9 mm (0.20–0.35 in) / Females 19–28 mm (0.75–1.10 in)
          <strong> Range: </strong> Central/North America
          <strong> Nocturnal or Diurnal: </strong> Diurnal, active during the day
          <strong> Stigma: </strong> They're big and scary!
          <strong> Reality: </strong> They're females who need lots of energy to make and protect their eggs.
        </div>
       <br>
       <br>
        <p>
          Yellow garden spiders may be scary, but they’d rather run away than confront you! These spiders are homebodies and spend most of their time on their webs, waiting for prey to fall into them. However - the spiders you actually see on the webs are almost always female. Males are busy on the move looking for females and are observed much less often. Yellow garden spiders are sexually dimorphic, which means that the males and females look very different. Think of birds and how the males are always more colorful! In the spider world, its the opposite, females are big and colorful.
        </p>

        <br>
        <img src="/assets/argiope.jpeg" alt="Image of two Yellow Garden Spiders, female (left) male (right)"/>
        Troy Bartlett - Female (left) and male (right) 
        <br>

        <p>
          These spiders are part of a larger family of “orb weavers” - who are categorized by the webs they spin. Their web is very unique compared to other spiders. They spin an interesting zig-zag pattern. Maybe it’s eye-catching to prey or possible mates? A male spider is much more likely to wander into a house that has a “yellow spiders welcome!” sign than a random house. These spiders are commonly found in open fields, prairies, and gardens where they attach their webs to upright stems.  They appear to have an affinity for late-blooming plant species that have strong vertical stems such as goldenrods, ironweed, Joe-Pye weeds, and others.  Most likely, the spiders take advantage smorgasbord of insects attracted to the blooms.
        </p>
        <br>
        <p>
          Their hunting technique involves waiting for their prey and then striking. Yellow garden spiders will wrap their prey up in web and bite them with a venom that will quickly immobilize and kill them. Since their method of dispatching prey is rather quick, they need to do less web repairs. Luckily for us, even if we were to get bitten by these gentle giants, their venom causes no more harm than a bee sting.
        </p>
        

<!-- BREAK!!! NEXT INFO PAGE STARTS HERE -->


        <div id="crab" class="center">
          <h1> 
            Crab Spiders
          </h1>
        </div>
          <h3>
            (Thomisidae family)
          </h3>
          <img src="/assets/crabspider.png" alt="Image of a crab spider perching on a flower"/>
          iStock
  
          <div class="info">
            <strong> Lifespan: </strong> Less than a year 
            <strong> Size: </strong> 12.7 mm (.5 in) or less
            <strong> Range: </strong> Global
            <strong> Nocturnal or Diurnal: </strong> Diurnal, active during the day
            <strong> Stigma: </strong> Weird looking and will bite!
            <strong> Reality: </strong> They've evolved to better capture their prey! They don't really want to bite humans, they're more interested in bugs.
          </div>
          <br>
          <br>

          <p>
            Crab spiders are very interesting spiders, they’re not built like normal spiders. Their front four legs are much longer and not proportional to their other legs at all. They are called crab spiders due to the way they hold up their arms as they lie in wait for their prey. Interestingly enough they also tend to move like crabs. They walk side-to-side, another reason for their namesake. They can also walk backwards and forwards with ease.
          </p>
          <p>
            Similar to jumping spiders, crab spiders are ambush predators. They are often colored similar to their backgrounds as to blend in better. In the image above, the spider is hiding in the flower waiting for a pollinator or other bug to stop by. They don’t wrap their prey in silk, instead they simply grab with their arms and bite to inject their venom. 
          </p>

          <br>
          <img src="/assets/crabspider2.png" alt="White crab spider perched on a daisy eating a fly"/>
          Jeremy Burgess
          <br>

          <p>
            These little guys come in all sorts of colors, some can even be pink! They are sometimes called “flower spiders” or “flower crab spiders” due to their tendency to hide in flowers. But some hide in trees too! They blend into the back and wait for ants or other bugs to pass by. 
          </p>
          <p>
            Certain species, not ones that are as common as the ones picture, are sexually dimorphic. For example, sometimes the males and females might be different colors or even different sizes. In the spider world, females are always larger than males when there is a difference between gender.
          </p>
          <p>
            Crab spiders are actually rather beneficial to us humans. Even though they sometimes catch pollinators, they also catch flies, mosquitoes, and all other sorts of pest insects. A few of these guys in your yard or garden and you’ll be much better off! 
          </p>
          

        







            <div id="extras" class="center">


        <h1> 
          Extras!
        </h1>

            </div>


        <h3>
          9 of the Most Dangerous Spiders (do not handle!!)
        </h3>
        <a href="https://www.britannica.com/list/9-of-the-worlds-deadliest-spiders"> 
        <img alt="Image of a Brittanica Webpage for 9 of the World's Deadliest Spiders" src="/assets/danger.png" /></a>
        Britannica, John P. Rafferty

        <h1>
          User Submissions
        </h1>

        <img alt="Image of a Yellow Garden Spider with a thumb next to it for scale" src="/assets/sam.JPG" />
        Samantha, 2018
        <p> 
        This is a Yellow Garden Spider found in a garden in Upstate NY between some tall tomato plants and grass! This is a female argiope who spent the entire summer in that garden. She wasn't bothered too much, besides some gawking and casual conversation with the owners of the garden! Story from Samantha of the summer of 2018.
        </p>

 <!-- X hide for now, embed link to Britannica Website 
        <p>
          Most spiders are relatively harmless to humans, but here is a list of some you should definitely avoid.  
        </p>
        
        <h1>
          1. Funnel-Web Spiders
        </h1>
        <h3>
          (Dipluridae family)
        </h3>
        <br>
        <p>
          These spiders are named for their funnel-shaped webs, which open wide at the mouth of a tube of web. The spider sits in the narrow funnel waiting for prey to touch the web before they strike. There are ones in North and South America, as well as Australia, where the posinous variety reside. Several human deaths from the bites of these aggressive spiders have been recorded in the Sydney area since the 1920's. An antidote to the main toxin in their venom has been developed which is effective if administered soon after someone has been bitten.
        </p>
-->
        <br>
         <p>
          <strong>This is in no way a comprehensive list but just a way to get our visitors interested in these creepy critters! </strong> 
          </p>
          
        
          




       

    </main>
    {% include 'footer' %}
  </body>
</html>