<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/png" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Kreon:wght@300..700&display=swap" rel="stylesheet">
  {% include 'head', title:'Spiders' %}
  <body>
    {% include 'header' %}
    <main class="spiders" id="main-content">
      
    <img class="spiderhi" src="/assets/spiderhi.gif" alt="Short gif of a jumping spider waving" loop>

    <h2>
    Spiders
    </h2>

      <h3> 
      <em> "We help out!" </em>
      </h3>

    <p>
    Spiders may be small but their contribution to the ecosystem is grand. Without spiders many small insects would grow in immeasurable numbers. Imagine how many flies there might be buzzing around! And without these little predators, birds would lose a food source and many birds we love and treasure could decrease greatly in number without spiders. These little guys are great housemates too! Spiders in the corners of rooms keep moths and other small bugs out of your way. But if you don't enjoy such a creepy critter in your own home, please put them outside (carefully). If you don't bother them, they won't bother you.
    </p>

    <strong> (Please be weary with any spiders you know to be dangerous. Below there is a list of spiders that are actually dangerous.) </strong>

    <h2> 
      <a href="-"> Jumping Spider </a>
      <a href="-"> Orb Weaver </a>
      <a href="-"> Crab Spider </a>
      <a href="-"> Facts + Extras </a>
    </h2>

    <strong> This is in no way a comprehensive list but just a way to get our visitors interested in these creepy critters! </strong>

      <div class="jumping">
        <h2> 
          Jumping Spiders
        </h2>
      </div>
        <h3>
          (Salticidae family)
        </h3>
      <img src="/assets/jumping.png" alt="Image of a common jumping spider close to the camera">
      Paul Gaudette, 2015

      <div class="info">
        <strong> Lifespan: </strong> 1-2 years 
        <strong> Size: </strong> 1 to 25 mm (0.04–0.98 in) 
        <strong> Range: </strong> Global
        <strong> Nocturnal or Diurnal: </strong> Diurnal, active during the day
        <strong> Stigma: </strong> They are aggressive or violent and want to bite you
      </div>

      <p>
        Jumping spiders are part of one of the largest families of spiders, with over 5,000 documented species! These little guys often have some iridescent fur on their bodies. They are quite active hunters who grasp prey with their long front legs. 
      </p>
      <p>
        They do not actually spin webs like other spiders. Instead they used anchor lines to descend or swing from place to place. It’s quite impressive for such little creatures! They have been observed to build small silk tents for their eggs or themselves. Be it for over-wintering, molting, or just hiding out for awhile.
      </p>

      <img src="/assets/jumping2.png" alt="an image of a jumping spider jumping with a guideline">
      Scott Linstead

      <p>
        Despite their small size they are territorial and do not like other spiders being around. They can bite although they have to be really pestered by humans to do so. Be gentle with our little friends! There’s no need to get too up in their business. Most spiders prefer to be left alone, although jumping spiders are one of the friendlier species. Some people even keep them as pets! However, we do not advise capturing wild animals. If you’re wondering about spider-keeping there are plenty of great resources out there! 
      </p>
      <p>
        These little guys have 8 big eyes in sets of two, the biggest and front-most pair do most of the observing while the other 6 help keep them aware of their surroundings. They have nearly 360 degree vision. 
      </p>
      <p>
        They can actually recognize human faces! Their little genius brains are quite the mystery to many scientists and entomologists. 
      </p>

    <!-- BREAK!!! NEXT INFO PAGE STARTS HERE -->

     <div class="orb">
        <h2> 
          Orb Weavers
        </h2>
      </div>
        <h3>
          (Araneidae family)
        </h3>
      






    </main>
    {% include 'footer' %}
  </body>
</html>
